<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="linq.Properties.Settings.cmsConnectionString" connectionString="Data Source=185.55.224.70;Initial Catalog=sharjanc_telegram;Persist Security Info=True;User ID=sharjanc_telegram;Password=ali.mohseni@1362"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>